<!DOCTYPE HTML>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Piano</title>

    <!-- <script type="text/javascript" src="/static/Waveform.js"></script> -->
    <script type="text/javascript" src="/static/Tone.min.js"></script>
    <LINK href="/static/tone.css" rel="stylesheet" type="text/css">
</head>

<body>


    <div id='content'>
        <p>Average latency: <b><span id="ping-pong">0</span>ms</b></p>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.1.1/howler.js" integrity="sha256-NKqqs79r/PhHl+7bFcPA+2ZboLHyMQSmyXsexUuzkys=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        sounds = {};
        sounds['Piano.ff.A0.mp3'] = new Howl({ src: ['/mp3s/Piano.ff.A0.mp3'] });
sounds['Piano.ff.A1.mp3'] = new Howl({ src: ['/mp3s/Piano.ff.A1.mp3'] });
sounds['Piano.ff.A2.mp3'] = new Howl({ src: ['/mp3s/Piano.ff.A2.mp3'] });
sounds['Piano.ff.A3.mp3'] = new Howl({ src: ['/mp3s/Piano.ff.A3.mp3'] });
sounds['Piano.ff.A4.mp3'] = new Howl({ src: ['/mp3s/Piano.ff.A4.mp3'] });
sounds['Piano.ff.A5.mp3'] = new Howl({ src: ['/mp3s/Piano.ff.A5.mp3'] });
sounds['Piano.ff.A6.mp3'] = new Howl({ src: ['/mp3s/Piano.ff.A6.mp3'] });
sounds['Piano.ff.A7.mp3'] = new Howl({ src: ['/mp3s/Piano.ff.A7.mp3'] });
sounds['Piano.ff.Ab1.mp3'] = new Howl({ src: ['/mp3s/Piano.ff.Ab1.mp3'] });
sounds['Piano.ff.Ab2.mp3'] = new Howl({ src: ['/mp3s/Piano.ff.Ab2.mp3'] });
sounds['Piano.ff.Ab3.mp3'] = new Howl({ src: ['/mp3s/Piano.ff.Ab3.mp3'] });
sounds['Piano.ff.Ab4.mp3'] = new Howl({ src: ['/mp3s/Piano.ff.Ab4.mp3'] });
sounds['Piano.ff.Ab5.mp3'] = new Howl({ src: ['/mp3s/Piano.ff.Ab5.mp3'] });
sounds['Piano.ff.Ab6.mp3'] = new Howl({ src: ['/mp3s/Piano.ff.Ab6.mp3'] });
sounds['Piano.ff.Ab7.mp3'] = new Howl({ src: ['/mp3s/Piano.ff.Ab7.mp3'] });
sounds['Piano.ff.B0.mp3'] = new Howl({ src: ['/mp3s/Piano.ff.B0.mp3'] });
sounds['Piano.ff.B1.mp3'] = new Howl({ src: ['/mp3s/Piano.ff.B1.mp3'] });
sounds['Piano.ff.B2.mp3'] = new Howl({ src: ['/mp3s/Piano.ff.B2.mp3'] });
sounds['Piano.ff.B3.mp3'] = new Howl({ src: ['/mp3s/Piano.ff.B3.mp3'] });
sounds['Piano.ff.B4.mp3'] = new Howl({ src: ['/mp3s/Piano.ff.B4.mp3'] });
sounds['Piano.ff.B5.mp3'] = new Howl({ src: ['/mp3s/Piano.ff.B5.mp3'] });
sounds['Piano.ff.B6.mp3'] = new Howl({ src: ['/mp3s/Piano.ff.B6.mp3'] });
sounds['Piano.ff.B7.mp3'] = new Howl({ src: ['/mp3s/Piano.ff.B7.mp3'] });
sounds['Piano.ff.Bb0.mp3'] = new Howl({ src: ['/mp3s/Piano.ff.Bb0.mp3'] });
sounds['Piano.ff.Bb1.mp3'] = new Howl({ src: ['/mp3s/Piano.ff.Bb1.mp3'] });
sounds['Piano.ff.Bb2.mp3'] = new Howl({ src: ['/mp3s/Piano.ff.Bb2.mp3'] });
sounds['Piano.ff.Bb3.mp3'] = new Howl({ src: ['/mp3s/Piano.ff.Bb3.mp3'] });
sounds['Piano.ff.Bb4.mp3'] = new Howl({ src: ['/mp3s/Piano.ff.Bb4.mp3'] });
sounds['Piano.ff.Bb5.mp3'] = new Howl({ src: ['/mp3s/Piano.ff.Bb5.mp3'] });
sounds['Piano.ff.Bb6.mp3'] = new Howl({ src: ['/mp3s/Piano.ff.Bb6.mp3'] });
sounds['Piano.ff.Bb7.mp3'] = new Howl({ src: ['/mp3s/Piano.ff.Bb7.mp3'] });
sounds['Piano.ff.C1.mp3'] = new Howl({ src: ['/mp3s/Piano.ff.C1.mp3'] });
sounds['Piano.ff.C2.mp3'] = new Howl({ src: ['/mp3s/Piano.ff.C2.mp3'] });
sounds['Piano.ff.C3.mp3'] = new Howl({ src: ['/mp3s/Piano.ff.C3.mp3'] });
sounds['Piano.ff.C4.mp3'] = new Howl({ src: ['/mp3s/Piano.ff.C4.mp3'] });
sounds['Piano.ff.C5.mp3'] = new Howl({ src: ['/mp3s/Piano.ff.C5.mp3'] });
sounds['Piano.ff.C6.mp3'] = new Howl({ src: ['/mp3s/Piano.ff.C6.mp3'] });
sounds['Piano.ff.C7.mp3'] = new Howl({ src: ['/mp3s/Piano.ff.C7.mp3'] });
sounds['Piano.ff.C8.mp3'] = new Howl({ src: ['/mp3s/Piano.ff.C8.mp3'] });
sounds['Piano.ff.D1.mp3'] = new Howl({ src: ['/mp3s/Piano.ff.D1.mp3'] });
sounds['Piano.ff.D2.mp3'] = new Howl({ src: ['/mp3s/Piano.ff.D2.mp3'] });
sounds['Piano.ff.D3.mp3'] = new Howl({ src: ['/mp3s/Piano.ff.D3.mp3'] });
sounds['Piano.ff.D4.mp3'] = new Howl({ src: ['/mp3s/Piano.ff.D4.mp3'] });
sounds['Piano.ff.D5.mp3'] = new Howl({ src: ['/mp3s/Piano.ff.D5.mp3'] });
sounds['Piano.ff.D6.mp3'] = new Howl({ src: ['/mp3s/Piano.ff.D6.mp3'] });
sounds['Piano.ff.D7.mp3'] = new Howl({ src: ['/mp3s/Piano.ff.D7.mp3'] });
sounds['Piano.ff.Db1.mp3'] = new Howl({ src: ['/mp3s/Piano.ff.Db1.mp3'] });
sounds['Piano.ff.Db2.mp3'] = new Howl({ src: ['/mp3s/Piano.ff.Db2.mp3'] });
sounds['Piano.ff.Db3.mp3'] = new Howl({ src: ['/mp3s/Piano.ff.Db3.mp3'] });
sounds['Piano.ff.Db4.mp3'] = new Howl({ src: ['/mp3s/Piano.ff.Db4.mp3'] });
sounds['Piano.ff.Db5.mp3'] = new Howl({ src: ['/mp3s/Piano.ff.Db5.mp3'] });
sounds['Piano.ff.Db6.mp3'] = new Howl({ src: ['/mp3s/Piano.ff.Db6.mp3'] });
sounds['Piano.ff.Db7.mp3'] = new Howl({ src: ['/mp3s/Piano.ff.Db7.mp3'] });
sounds['Piano.ff.E1.mp3'] = new Howl({ src: ['/mp3s/Piano.ff.E1.mp3'] });
sounds['Piano.ff.E2.mp3'] = new Howl({ src: ['/mp3s/Piano.ff.E2.mp3'] });
sounds['Piano.ff.E3.mp3'] = new Howl({ src: ['/mp3s/Piano.ff.E3.mp3'] });
sounds['Piano.ff.E4.mp3'] = new Howl({ src: ['/mp3s/Piano.ff.E4.mp3'] });
sounds['Piano.ff.E5.mp3'] = new Howl({ src: ['/mp3s/Piano.ff.E5.mp3'] });
sounds['Piano.ff.E6.mp3'] = new Howl({ src: ['/mp3s/Piano.ff.E6.mp3'] });
sounds['Piano.ff.E7.mp3'] = new Howl({ src: ['/mp3s/Piano.ff.E7.mp3'] });
sounds['Piano.ff.Eb1.mp3'] = new Howl({ src: ['/mp3s/Piano.ff.Eb1.mp3'] });
sounds['Piano.ff.Eb2.mp3'] = new Howl({ src: ['/mp3s/Piano.ff.Eb2.mp3'] });
sounds['Piano.ff.Eb3.mp3'] = new Howl({ src: ['/mp3s/Piano.ff.Eb3.mp3'] });
sounds['Piano.ff.Eb4.mp3'] = new Howl({ src: ['/mp3s/Piano.ff.Eb4.mp3'] });
sounds['Piano.ff.Eb5.mp3'] = new Howl({ src: ['/mp3s/Piano.ff.Eb5.mp3'] });
sounds['Piano.ff.Eb6.mp3'] = new Howl({ src: ['/mp3s/Piano.ff.Eb6.mp3'] });
sounds['Piano.ff.Eb7.mp3'] = new Howl({ src: ['/mp3s/Piano.ff.Eb7.mp3'] });
sounds['Piano.ff.F1.mp3'] = new Howl({ src: ['/mp3s/Piano.ff.F1.mp3'] });
sounds['Piano.ff.F2.mp3'] = new Howl({ src: ['/mp3s/Piano.ff.F2.mp3'] });
sounds['Piano.ff.F3.mp3'] = new Howl({ src: ['/mp3s/Piano.ff.F3.mp3'] });
sounds['Piano.ff.F4.mp3'] = new Howl({ src: ['/mp3s/Piano.ff.F4.mp3'] });
sounds['Piano.ff.F5.mp3'] = new Howl({ src: ['/mp3s/Piano.ff.F5.mp3'] });
sounds['Piano.ff.F6.mp3'] = new Howl({ src: ['/mp3s/Piano.ff.F6.mp3'] });
sounds['Piano.ff.F7.mp3'] = new Howl({ src: ['/mp3s/Piano.ff.F7.mp3'] });
sounds['Piano.ff.G1.mp3'] = new Howl({ src: ['/mp3s/Piano.ff.G1.mp3'] });
sounds['Piano.ff.G2.mp3'] = new Howl({ src: ['/mp3s/Piano.ff.G2.mp3'] });
sounds['Piano.ff.G3.mp3'] = new Howl({ src: ['/mp3s/Piano.ff.G3.mp3'] });
sounds['Piano.ff.G4.mp3'] = new Howl({ src: ['/mp3s/Piano.ff.G4.mp3'] });
sounds['Piano.ff.G5.mp3'] = new Howl({ src: ['/mp3s/Piano.ff.G5.mp3'] });
sounds['Piano.ff.G6.mp3'] = new Howl({ src: ['/mp3s/Piano.ff.G6.mp3'] });
sounds['Piano.ff.G7.mp3'] = new Howl({ src: ['/mp3s/Piano.ff.G7.mp3'] });
sounds['Piano.ff.Gb1.mp3'] = new Howl({ src: ['/mp3s/Piano.ff.Gb1.mp3'] });
sounds['Piano.ff.Gb2.mp3'] = new Howl({ src: ['/mp3s/Piano.ff.Gb2.mp3'] });
sounds['Piano.ff.Gb3.mp3'] = new Howl({ src: ['/mp3s/Piano.ff.Gb3.mp3'] });
sounds['Piano.ff.Gb4.mp3'] = new Howl({ src: ['/mp3s/Piano.ff.Gb4.mp3'] });
sounds['Piano.ff.Gb5.mp3'] = new Howl({ src: ['/mp3s/Piano.ff.Gb5.mp3'] });
sounds['Piano.ff.Gb6.mp3'] = new Howl({ src: ['/mp3s/Piano.ff.Gb6.mp3'] });
sounds['Piano.ff.Gb7.mp3'] = new Howl({ src: ['/mp3s/Piano.ff.Gb7.mp3'] });
sounds['Piano.mf.A1.mp3'] = new Howl({ src: ['/mp3s/Piano.mf.A1.mp3'] });
sounds['Piano.mf.A2.mp3'] = new Howl({ src: ['/mp3s/Piano.mf.A2.mp3'] });
sounds['Piano.mf.A3.mp3'] = new Howl({ src: ['/mp3s/Piano.mf.A3.mp3'] });
sounds['Piano.mf.A4.mp3'] = new Howl({ src: ['/mp3s/Piano.mf.A4.mp3'] });
sounds['Piano.mf.A5.mp3'] = new Howl({ src: ['/mp3s/Piano.mf.A5.mp3'] });
sounds['Piano.mf.A6.mp3'] = new Howl({ src: ['/mp3s/Piano.mf.A6.mp3'] });
sounds['Piano.mf.A7.mp3'] = new Howl({ src: ['/mp3s/Piano.mf.A7.mp3'] });
sounds['Piano.mf.Ab1.mp3'] = new Howl({ src: ['/mp3s/Piano.mf.Ab1.mp3'] });
sounds['Piano.mf.Ab2.mp3'] = new Howl({ src: ['/mp3s/Piano.mf.Ab2.mp3'] });
sounds['Piano.mf.Ab3.mp3'] = new Howl({ src: ['/mp3s/Piano.mf.Ab3.mp3'] });
sounds['Piano.mf.Ab4.mp3'] = new Howl({ src: ['/mp3s/Piano.mf.Ab4.mp3'] });
sounds['Piano.mf.Ab5.mp3'] = new Howl({ src: ['/mp3s/Piano.mf.Ab5.mp3'] });
sounds['Piano.mf.Ab6.mp3'] = new Howl({ src: ['/mp3s/Piano.mf.Ab6.mp3'] });
sounds['Piano.mf.Ab7.mp3'] = new Howl({ src: ['/mp3s/Piano.mf.Ab7.mp3'] });
sounds['Piano.mf.B0.mp3'] = new Howl({ src: ['/mp3s/Piano.mf.B0.mp3'] });
sounds['Piano.mf.B1.mp3'] = new Howl({ src: ['/mp3s/Piano.mf.B1.mp3'] });
sounds['Piano.mf.B2.mp3'] = new Howl({ src: ['/mp3s/Piano.mf.B2.mp3'] });
sounds['Piano.mf.B3.mp3'] = new Howl({ src: ['/mp3s/Piano.mf.B3.mp3'] });
sounds['Piano.mf.B4.mp3'] = new Howl({ src: ['/mp3s/Piano.mf.B4.mp3'] });
sounds['Piano.mf.B5.mp3'] = new Howl({ src: ['/mp3s/Piano.mf.B5.mp3'] });
sounds['Piano.mf.B6.mp3'] = new Howl({ src: ['/mp3s/Piano.mf.B6.mp3'] });
sounds['Piano.mf.B7.mp3'] = new Howl({ src: ['/mp3s/Piano.mf.B7.mp3'] });
sounds['Piano.mf.Bb1.mp3'] = new Howl({ src: ['/mp3s/Piano.mf.Bb1.mp3'] });
sounds['Piano.mf.Bb2.mp3'] = new Howl({ src: ['/mp3s/Piano.mf.Bb2.mp3'] });
sounds['Piano.mf.Bb3.mp3'] = new Howl({ src: ['/mp3s/Piano.mf.Bb3.mp3'] });
sounds['Piano.mf.Bb4.mp3'] = new Howl({ src: ['/mp3s/Piano.mf.Bb4.mp3'] });
sounds['Piano.mf.Bb5.mp3'] = new Howl({ src: ['/mp3s/Piano.mf.Bb5.mp3'] });
sounds['Piano.mf.Bb6.mp3'] = new Howl({ src: ['/mp3s/Piano.mf.Bb6.mp3'] });
sounds['Piano.mf.Bb7.mp3'] = new Howl({ src: ['/mp3s/Piano.mf.Bb7.mp3'] });
sounds['Piano.mf.C1.mp3'] = new Howl({ src: ['/mp3s/Piano.mf.C1.mp3'] });
sounds['Piano.mf.C2.mp3'] = new Howl({ src: ['/mp3s/Piano.mf.C2.mp3'] });
sounds['Piano.mf.C3.mp3'] = new Howl({ src: ['/mp3s/Piano.mf.C3.mp3'] });
sounds['Piano.mf.C4.mp3'] = new Howl({ src: ['/mp3s/Piano.mf.C4.mp3'] });
sounds['Piano.mf.C5.mp3'] = new Howl({ src: ['/mp3s/Piano.mf.C5.mp3'] });
sounds['Piano.mf.C6.mp3'] = new Howl({ src: ['/mp3s/Piano.mf.C6.mp3'] });
sounds['Piano.mf.C7.mp3'] = new Howl({ src: ['/mp3s/Piano.mf.C7.mp3'] });
sounds['Piano.mf.C8.mp3'] = new Howl({ src: ['/mp3s/Piano.mf.C8.mp3'] });
sounds['Piano.mf.D1.mp3'] = new Howl({ src: ['/mp3s/Piano.mf.D1.mp3'] });
sounds['Piano.mf.D2.mp3'] = new Howl({ src: ['/mp3s/Piano.mf.D2.mp3'] });
sounds['Piano.mf.D3.mp3'] = new Howl({ src: ['/mp3s/Piano.mf.D3.mp3'] });
sounds['Piano.mf.D4.mp3'] = new Howl({ src: ['/mp3s/Piano.mf.D4.mp3'] });
sounds['Piano.mf.D5.mp3'] = new Howl({ src: ['/mp3s/Piano.mf.D5.mp3'] });
sounds['Piano.mf.D6.mp3'] = new Howl({ src: ['/mp3s/Piano.mf.D6.mp3'] });
sounds['Piano.mf.D7.mp3'] = new Howl({ src: ['/mp3s/Piano.mf.D7.mp3'] });
sounds['Piano.mf.Db1.mp3'] = new Howl({ src: ['/mp3s/Piano.mf.Db1.mp3'] });
sounds['Piano.mf.Db2.mp3'] = new Howl({ src: ['/mp3s/Piano.mf.Db2.mp3'] });
sounds['Piano.mf.Db3.mp3'] = new Howl({ src: ['/mp3s/Piano.mf.Db3.mp3'] });
sounds['Piano.mf.Db4.mp3'] = new Howl({ src: ['/mp3s/Piano.mf.Db4.mp3'] });
sounds['Piano.mf.Db5.mp3'] = new Howl({ src: ['/mp3s/Piano.mf.Db5.mp3'] });
sounds['Piano.mf.Db6.mp3'] = new Howl({ src: ['/mp3s/Piano.mf.Db6.mp3'] });
sounds['Piano.mf.Db7.mp3'] = new Howl({ src: ['/mp3s/Piano.mf.Db7.mp3'] });
sounds['Piano.mf.E1.mp3'] = new Howl({ src: ['/mp3s/Piano.mf.E1.mp3'] });
sounds['Piano.mf.E2.mp3'] = new Howl({ src: ['/mp3s/Piano.mf.E2.mp3'] });
sounds['Piano.mf.E3.mp3'] = new Howl({ src: ['/mp3s/Piano.mf.E3.mp3'] });
sounds['Piano.mf.E4.mp3'] = new Howl({ src: ['/mp3s/Piano.mf.E4.mp3'] });
sounds['Piano.mf.E5.mp3'] = new Howl({ src: ['/mp3s/Piano.mf.E5.mp3'] });
sounds['Piano.mf.E6.mp3'] = new Howl({ src: ['/mp3s/Piano.mf.E6.mp3'] });
sounds['Piano.mf.E7.mp3'] = new Howl({ src: ['/mp3s/Piano.mf.E7.mp3'] });
sounds['Piano.mf.Eb1.mp3'] = new Howl({ src: ['/mp3s/Piano.mf.Eb1.mp3'] });
sounds['Piano.mf.Eb2.mp3'] = new Howl({ src: ['/mp3s/Piano.mf.Eb2.mp3'] });
sounds['Piano.mf.Eb3.mp3'] = new Howl({ src: ['/mp3s/Piano.mf.Eb3.mp3'] });
sounds['Piano.mf.Eb4.mp3'] = new Howl({ src: ['/mp3s/Piano.mf.Eb4.mp3'] });
sounds['Piano.mf.Eb5.mp3'] = new Howl({ src: ['/mp3s/Piano.mf.Eb5.mp3'] });
sounds['Piano.mf.Eb6.mp3'] = new Howl({ src: ['/mp3s/Piano.mf.Eb6.mp3'] });
sounds['Piano.mf.Eb7.mp3'] = new Howl({ src: ['/mp3s/Piano.mf.Eb7.mp3'] });
sounds['Piano.mf.F1.mp3'] = new Howl({ src: ['/mp3s/Piano.mf.F1.mp3'] });
sounds['Piano.mf.F2.mp3'] = new Howl({ src: ['/mp3s/Piano.mf.F2.mp3'] });
sounds['Piano.mf.F3.mp3'] = new Howl({ src: ['/mp3s/Piano.mf.F3.mp3'] });
sounds['Piano.mf.F4.mp3'] = new Howl({ src: ['/mp3s/Piano.mf.F4.mp3'] });
sounds['Piano.mf.F5.mp3'] = new Howl({ src: ['/mp3s/Piano.mf.F5.mp3'] });
sounds['Piano.mf.F6.mp3'] = new Howl({ src: ['/mp3s/Piano.mf.F6.mp3'] });
sounds['Piano.mf.F7.mp3'] = new Howl({ src: ['/mp3s/Piano.mf.F7.mp3'] });
sounds['Piano.mf.G1.mp3'] = new Howl({ src: ['/mp3s/Piano.mf.G1.mp3'] });
sounds['Piano.mf.G2.mp3'] = new Howl({ src: ['/mp3s/Piano.mf.G2.mp3'] });
sounds['Piano.mf.G3.mp3'] = new Howl({ src: ['/mp3s/Piano.mf.G3.mp3'] });
sounds['Piano.mf.G4.mp3'] = new Howl({ src: ['/mp3s/Piano.mf.G4.mp3'] });
sounds['Piano.mf.G5.mp3'] = new Howl({ src: ['/mp3s/Piano.mf.G5.mp3'] });
sounds['Piano.mf.G6.mp3'] = new Howl({ src: ['/mp3s/Piano.mf.G6.mp3'] });
sounds['Piano.mf.G7.mp3'] = new Howl({ src: ['/mp3s/Piano.mf.G7.mp3'] });
sounds['Piano.mf.Gb1.mp3'] = new Howl({ src: ['/mp3s/Piano.mf.Gb1.mp3'] });
sounds['Piano.mf.Gb2.mp3'] = new Howl({ src: ['/mp3s/Piano.mf.Gb2.mp3'] });
sounds['Piano.mf.Gb3.mp3'] = new Howl({ src: ['/mp3s/Piano.mf.Gb3.mp3'] });
sounds['Piano.mf.Gb4.mp3'] = new Howl({ src: ['/mp3s/Piano.mf.Gb4.mp3'] });
sounds['Piano.mf.Gb5.mp3'] = new Howl({ src: ['/mp3s/Piano.mf.Gb5.mp3'] });
sounds['Piano.mf.Gb6.mp3'] = new Howl({ src: ['/mp3s/Piano.mf.Gb6.mp3'] });
sounds['Piano.pp.A1.mp3'] = new Howl({ src: ['/mp3s/Piano.pp.A1.mp3'] });
sounds['Piano.pp.A2.mp3'] = new Howl({ src: ['/mp3s/Piano.pp.A2.mp3'] });
sounds['Piano.pp.A3.mp3'] = new Howl({ src: ['/mp3s/Piano.pp.A3.mp3'] });
sounds['Piano.pp.A4.mp3'] = new Howl({ src: ['/mp3s/Piano.pp.A4.mp3'] });
sounds['Piano.pp.A5.mp3'] = new Howl({ src: ['/mp3s/Piano.pp.A5.mp3'] });
sounds['Piano.pp.A6.mp3'] = new Howl({ src: ['/mp3s/Piano.pp.A6.mp3'] });
sounds['Piano.pp.A7.mp3'] = new Howl({ src: ['/mp3s/Piano.pp.A7.mp3'] });
sounds['Piano.pp.Ab1.mp3'] = new Howl({ src: ['/mp3s/Piano.pp.Ab1.mp3'] });
sounds['Piano.pp.Ab2.mp3'] = new Howl({ src: ['/mp3s/Piano.pp.Ab2.mp3'] });
sounds['Piano.pp.Ab3.mp3'] = new Howl({ src: ['/mp3s/Piano.pp.Ab3.mp3'] });
sounds['Piano.pp.Ab4.mp3'] = new Howl({ src: ['/mp3s/Piano.pp.Ab4.mp3'] });
sounds['Piano.pp.Ab5.mp3'] = new Howl({ src: ['/mp3s/Piano.pp.Ab5.mp3'] });
sounds['Piano.pp.Ab6.mp3'] = new Howl({ src: ['/mp3s/Piano.pp.Ab6.mp3'] });
sounds['Piano.pp.Ab7.mp3'] = new Howl({ src: ['/mp3s/Piano.pp.Ab7.mp3'] });
sounds['Piano.pp.B0.mp3'] = new Howl({ src: ['/mp3s/Piano.pp.B0.mp3'] });
sounds['Piano.pp.B1.mp3'] = new Howl({ src: ['/mp3s/Piano.pp.B1.mp3'] });
sounds['Piano.pp.B2.mp3'] = new Howl({ src: ['/mp3s/Piano.pp.B2.mp3'] });
sounds['Piano.pp.B3.mp3'] = new Howl({ src: ['/mp3s/Piano.pp.B3.mp3'] });
sounds['Piano.pp.B4.mp3'] = new Howl({ src: ['/mp3s/Piano.pp.B4.mp3'] });
sounds['Piano.pp.B5.mp3'] = new Howl({ src: ['/mp3s/Piano.pp.B5.mp3'] });
sounds['Piano.pp.B6.mp3'] = new Howl({ src: ['/mp3s/Piano.pp.B6.mp3'] });
sounds['Piano.pp.B7.mp3'] = new Howl({ src: ['/mp3s/Piano.pp.B7.mp3'] });
sounds['Piano.pp.Bb0.mp3'] = new Howl({ src: ['/mp3s/Piano.pp.Bb0.mp3'] });
sounds['Piano.pp.Bb1.mp3'] = new Howl({ src: ['/mp3s/Piano.pp.Bb1.mp3'] });
sounds['Piano.pp.Bb2.mp3'] = new Howl({ src: ['/mp3s/Piano.pp.Bb2.mp3'] });
sounds['Piano.pp.Bb3.mp3'] = new Howl({ src: ['/mp3s/Piano.pp.Bb3.mp3'] });
sounds['Piano.pp.Bb4.mp3'] = new Howl({ src: ['/mp3s/Piano.pp.Bb4.mp3'] });
sounds['Piano.pp.Bb5.mp3'] = new Howl({ src: ['/mp3s/Piano.pp.Bb5.mp3'] });
sounds['Piano.pp.Bb6.mp3'] = new Howl({ src: ['/mp3s/Piano.pp.Bb6.mp3'] });
sounds['Piano.pp.Bb7.mp3'] = new Howl({ src: ['/mp3s/Piano.pp.Bb7.mp3'] });
sounds['Piano.pp.C1.mp3'] = new Howl({ src: ['/mp3s/Piano.pp.C1.mp3'] });
sounds['Piano.pp.C2.mp3'] = new Howl({ src: ['/mp3s/Piano.pp.C2.mp3'] });
sounds['Piano.pp.C3.mp3'] = new Howl({ src: ['/mp3s/Piano.pp.C3.mp3'] });
sounds['Piano.pp.C4.mp3'] = new Howl({ src: ['/mp3s/Piano.pp.C4.mp3'] });
sounds['Piano.pp.C5.mp3'] = new Howl({ src: ['/mp3s/Piano.pp.C5.mp3'] });
sounds['Piano.pp.C6.mp3'] = new Howl({ src: ['/mp3s/Piano.pp.C6.mp3'] });
sounds['Piano.pp.C7.mp3'] = new Howl({ src: ['/mp3s/Piano.pp.C7.mp3'] });
sounds['Piano.pp.C8.mp3'] = new Howl({ src: ['/mp3s/Piano.pp.C8.mp3'] });
sounds['Piano.pp.D1.mp3'] = new Howl({ src: ['/mp3s/Piano.pp.D1.mp3'] });
sounds['Piano.pp.D2.mp3'] = new Howl({ src: ['/mp3s/Piano.pp.D2.mp3'] });
sounds['Piano.pp.D3.mp3'] = new Howl({ src: ['/mp3s/Piano.pp.D3.mp3'] });
sounds['Piano.pp.D4.mp3'] = new Howl({ src: ['/mp3s/Piano.pp.D4.mp3'] });
sounds['Piano.pp.D5.mp3'] = new Howl({ src: ['/mp3s/Piano.pp.D5.mp3'] });
sounds['Piano.pp.D6.mp3'] = new Howl({ src: ['/mp3s/Piano.pp.D6.mp3'] });
sounds['Piano.pp.D7.mp3'] = new Howl({ src: ['/mp3s/Piano.pp.D7.mp3'] });
sounds['Piano.pp.Db1.mp3'] = new Howl({ src: ['/mp3s/Piano.pp.Db1.mp3'] });
sounds['Piano.pp.Db2.mp3'] = new Howl({ src: ['/mp3s/Piano.pp.Db2.mp3'] });
sounds['Piano.pp.Db3.mp3'] = new Howl({ src: ['/mp3s/Piano.pp.Db3.mp3'] });
sounds['Piano.pp.Db4.mp3'] = new Howl({ src: ['/mp3s/Piano.pp.Db4.mp3'] });
sounds['Piano.pp.Db5.mp3'] = new Howl({ src: ['/mp3s/Piano.pp.Db5.mp3'] });
sounds['Piano.pp.Db6.mp3'] = new Howl({ src: ['/mp3s/Piano.pp.Db6.mp3'] });
sounds['Piano.pp.Db7.mp3'] = new Howl({ src: ['/mp3s/Piano.pp.Db7.mp3'] });
sounds['Piano.pp.E1.mp3'] = new Howl({ src: ['/mp3s/Piano.pp.E1.mp3'] });
sounds['Piano.pp.E2.mp3'] = new Howl({ src: ['/mp3s/Piano.pp.E2.mp3'] });
sounds['Piano.pp.E3.mp3'] = new Howl({ src: ['/mp3s/Piano.pp.E3.mp3'] });
sounds['Piano.pp.E4.mp3'] = new Howl({ src: ['/mp3s/Piano.pp.E4.mp3'] });
sounds['Piano.pp.E5.mp3'] = new Howl({ src: ['/mp3s/Piano.pp.E5.mp3'] });
sounds['Piano.pp.E6.mp3'] = new Howl({ src: ['/mp3s/Piano.pp.E6.mp3'] });
sounds['Piano.pp.E7.mp3'] = new Howl({ src: ['/mp3s/Piano.pp.E7.mp3'] });
sounds['Piano.pp.Eb1.mp3'] = new Howl({ src: ['/mp3s/Piano.pp.Eb1.mp3'] });
sounds['Piano.pp.Eb2.mp3'] = new Howl({ src: ['/mp3s/Piano.pp.Eb2.mp3'] });
sounds['Piano.pp.Eb3.mp3'] = new Howl({ src: ['/mp3s/Piano.pp.Eb3.mp3'] });
sounds['Piano.pp.Eb4.mp3'] = new Howl({ src: ['/mp3s/Piano.pp.Eb4.mp3'] });
sounds['Piano.pp.Eb5.mp3'] = new Howl({ src: ['/mp3s/Piano.pp.Eb5.mp3'] });
sounds['Piano.pp.Eb6.mp3'] = new Howl({ src: ['/mp3s/Piano.pp.Eb6.mp3'] });
sounds['Piano.pp.Eb7.mp3'] = new Howl({ src: ['/mp3s/Piano.pp.Eb7.mp3'] });
sounds['Piano.pp.F1.mp3'] = new Howl({ src: ['/mp3s/Piano.pp.F1.mp3'] });
sounds['Piano.pp.F2.mp3'] = new Howl({ src: ['/mp3s/Piano.pp.F2.mp3'] });
sounds['Piano.pp.F3.mp3'] = new Howl({ src: ['/mp3s/Piano.pp.F3.mp3'] });
sounds['Piano.pp.F4.mp3'] = new Howl({ src: ['/mp3s/Piano.pp.F4.mp3'] });
sounds['Piano.pp.F5.mp3'] = new Howl({ src: ['/mp3s/Piano.pp.F5.mp3'] });
sounds['Piano.pp.F6.mp3'] = new Howl({ src: ['/mp3s/Piano.pp.F6.mp3'] });
sounds['Piano.pp.F7.mp3'] = new Howl({ src: ['/mp3s/Piano.pp.F7.mp3'] });
sounds['Piano.pp.G1.mp3'] = new Howl({ src: ['/mp3s/Piano.pp.G1.mp3'] });
sounds['Piano.pp.G2.mp3'] = new Howl({ src: ['/mp3s/Piano.pp.G2.mp3'] });
sounds['Piano.pp.G3.mp3'] = new Howl({ src: ['/mp3s/Piano.pp.G3.mp3'] });
sounds['Piano.pp.G4.mp3'] = new Howl({ src: ['/mp3s/Piano.pp.G4.mp3'] });
sounds['Piano.pp.G5.mp3'] = new Howl({ src: ['/mp3s/Piano.pp.G5.mp3'] });
sounds['Piano.pp.G6.mp3'] = new Howl({ src: ['/mp3s/Piano.pp.G6.mp3'] });
sounds['Piano.pp.G7.mp3'] = new Howl({ src: ['/mp3s/Piano.pp.G7.mp3'] });
sounds['Piano.pp.Gb1.mp3'] = new Howl({ src: ['/mp3s/Piano.pp.Gb1.mp3'] });
sounds['Piano.pp.Gb2.mp3'] = new Howl({ src: ['/mp3s/Piano.pp.Gb2.mp3'] });
sounds['Piano.pp.Gb3.mp3'] = new Howl({ src: ['/mp3s/Piano.pp.Gb3.mp3'] });
sounds['Piano.pp.Gb4.mp3'] = new Howl({ src: ['/mp3s/Piano.pp.Gb4.mp3'] });
sounds['Piano.pp.Gb5.mp3'] = new Howl({ src: ['/mp3s/Piano.pp.Gb5.mp3'] });
sounds['Piano.pp.Gb6.mp3'] = new Howl({ src: ['/mp3s/Piano.pp.Gb6.mp3'] });
sounds['Piano.pp.Gb7.mp3'] = new Howl({ src: ['/mp3s/Piano.pp.Gb7.mp3'] });

soundPlaying = {}
soundPlayingName = {}


        var socket;
        const socketMessageListener = (event) => {
            var data = JSON.parse(event.data);
            console.log(event.data);
            if (data.message == "note") {
                console.log(data.note);
                var noteName = 'Piano.mf.'+data.note.name+'.mp3';
                if (data.note.velocity < 10) {
                    noteName = 'Piano.pp.'+data.note.name+'.mp3';
                } else if (data.note.velocity >100) {
                    noteName = 'Piano.ff.'+data.note.name+'.mp3';
                }

                console.log(noteName);
                if (data.note.velocity>0) {
                    soundPlayingName[data.note.name] = noteName;
                    soundPlaying[noteName] = sounds[noteName].play();
                } else {
                    // sounds[noteName].stop();
                    noteName = soundPlayingName[data.note.name];
                    sounds[noteName].fade(1,0,500, soundPlaying[noteName]);
                }

            } else if (data.message == "pong") {
                var latency = (new Date).getTime() - start_time;
                console.log('got pong with latency ' + latency);
                ping_pong_times.push(latency);
                ping_pong_times = ping_pong_times.slice(-30); // keep last 30 samples
                var sum = 0;
                for (var i = 0; i < ping_pong_times.length; i++)
                    sum += ping_pong_times[i];
                document.getElementById("ping-pong").innerText = Math.round(10 * sum / ping_pong_times.length) / 10;
            }
        };
        const socketOpenListener = (event) => {
            console.log('Connected');
        };
        const socketCloseListener = (event) => {
            if (socket) {
                console.error('Disconnected.');
            }
            var url = window.origin.replace("http", "ws") + '/ws';
            socket = new WebSocket(url);
            socket.addEventListener('open', socketOpenListener);
            socket.addEventListener('message', socketMessageListener);
            socket.addEventListener('close', socketCloseListener);
            console.log('opening socket to ' + url)
        };


        // Interval function that tests message latency by sending a "ping"
        // message. The server then responds with a "pong" message and the
        // round trip time is measured.
        var ping_pong_times = [];
        var start_time;
        window.setInterval(function () {
            start_time = (new Date).getTime();
            socket.send(JSON.stringify({
                "message": "ping"
            }));
        }, 10000);


        socketCloseListener();
    </script>

</body>

</html>